@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0F172A] text-white;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0F172A;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #0F4C5C;
    border-radius: 10px;
    transition: background 0.2s;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1a7a94;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #0F4C5C #0F172A;
  }
}
